/*颜色主题*/
$color-green: #42B983;
$color-white: #FFFFFF;
$color-gray: #CCCCCC;
$color-lightGray: #A3AFB7;
$color-tintGray: #F1F4F5;
$color-red: #F96868;
$color-blue: #93D4FA;
$color-main: #434343;

/*字体大小*/
$font-size-s: 12px;
$font-size-sm: 14px;
$font-size-m: 20px;
$font-size-l: 25px;
$font-size-xl: 30px;

/*间距值*/
$space-size-s: 5px;
$space-size-sm: 15px;
$space-size-m: 20px;
$space-size-l: 30px;
$space-size-xl: 80px;
$space-size-xxl: 200px;

/*圆角*/
$round-size-s: 5px;
$round-size-sm: 15px;
$round-size-m: 25px;
$round-size-l: 30px;
$round-size-xl: 50%;

